.welcome-section {
  background-image: url("../../images/banner1.png");
  background-repeat: no-repeat;
  height: 700px;
  background-size: cover;
  opacity: 0.7;
}
.welcome-section h1 {
  color: rgb(38, 0, 73);
  font-size: 5rem;
  text-align: center;
  padding-top: 20%;
  filter: brightness(100%);
}
.welcome-content {
  padding-top: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
